
    <div class="content">
    
    <%if user_signed_in?%>
      <div class="welcome-mobile">
              <h2 class="information">Welcome,</h2>
              <h2 class="information"><%=current_user.username%></h2>
      </div>
<div class="buttons-mobile">
    <button class="np-button bt2" id="bt2"> <%=link_to "Sign out",destroy_user_session_path, class: 'np-link-2',data: { "turbo-method": :delete }%></button>
    <button class="np-button bt2" id="bt2"><%=link_to "NEW POST", new_post_path, class:"np-link"%></button>
   
    <%else%>
    <div class="buttons-mobile">
     <button class="np-button bt2" id="bt2"><%=link_to "SIGN IN", new_user_session_path, class:"np-link"%></button>
      <%end%>
</div>
       
            <% @posts.each do |post| %>
             <div class="posts" >
            <h1 class="post-title"><%=post.title%></h1>
            <h1 class="post-body"><%=post.body%></h1>
             <div class="posts-control">
                <button class="np-button bt2" id="read-more"><%=link_to "Read more...",post%></button>
                <%if user_signed_in?%>
                <h1 class="author">by <%=post.user.username%></h1>
                <%end%>
             </div>
            </div>
            <% end%>
        
    </div>
